{
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlVoidTags": false,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": true
}
