// Import Vuetify's default variables
// @use "vuetify/settings" with (
//   $code-line-height: 1.4 // Change the line-height for <v-code>
// );

$border-radius: (
  base: 10px,
  lg: 16px,
  md: 8px,
  sm: 4px,
  xsm: 2px,
);
